.container-tittle {
  display: flex;

  justify-content: center;
}
.title--principal {
  font-size: 40px;
}
.container--section {
  display: flex;
  /* background-color: red; */
  /* padding: 10px; */
  gap: 10px;
}

.section {
  background: #528bff;
  border-radius: 15px;
  padding: 10px;
}
.section > h2 {
  text-align: center;
  color: white;
  font-size: 30px;
}

.section:hover {
  transition: 1s;
  background-color: aqua;
}

.section:hover > h2 {
  transition: 1s;
  color: red;
}

.container--image{
    display: flex;
    justify-content: center;
}